


<div *ngIf="showPage">
  <h3 class="heading">Reset-Password </h3>
    <form [formGroup]="resetForm">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" formControlName="password" required>
      <div *ngIf="resetForm.controls['password'].hasError('required') && resetForm.controls['password'].touched" class="error-message">
        Please enter your password .
      </div>
  
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword"  formControlName="confirm_password"  required>
      <div *ngIf="resetForm.controls['confirm_password'].hasError('required') && resetForm.controls['confirm_password'].touched" class="error-message">
        Please enter your confirmPassword .
      </div>
  
      <!-- <button type="submit" [disabled]="resetForm.invalid || password !== confirmPassword">Submit</button> -->
      <button type="submit" (click)="submitForm()">Submit</button>
    </form>
  </div>
  