.payment {
  /* border: 1px solid #f2f2f2;
  height: 100%;
  border-radius: 20px;
  background: #fff; */
}

.payment_header {
  /* background: rgb(0, 255, 98); */
  /* padding: 20px; */
  /* border-radius: 20px 20px 0px 0px; */
}

.check {
  margin: 0px auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}

.check i {
  vertical-align: middle;
  line-height: 50px;
  font-size: 30px;
}

.content {
  /* text-align: center; */
}

.content h1 {
  font-size: 40px;
  font-weight: bold;
}
.info_txt{
  margin-top: 40px;
}
.sty_ok{
  width: 100px;
  /* margin-left: 40%; */
}
.gotohome{
  /* width: 200px; */
  /* height: 35px; */
  /* color: #fff; */
  /* border-radius: 30px; */
  /* padding: 5px 10px; */
  /* background: rgba(255, 102, 0, 1); */
  /* transition: all ease-in-out 0.3s; */
}

.gotohome:hover {
  text-decoration: none;
  background: #000;
}

.listpage{
  margin-top: 10px;
  background-color: #1755c5 !important;
  text-decoration: none;
}
.listpage:hover {
  background-color: #1755c5 !important;
  text-decoration: none;
}
.invoice {
  font-size: 20px;
}
::ng-deep .payment {
padding-top: 125px !important;
}
::ng-deep #print-section table th{
  text-align: center !important;
}
::ng-deep .table-bordered ul {
padding: 0 0 10px 20px;
}
