/* Custom styles to position navigation arrows inside the carousel */

.btn--e-brand {
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #ff4500;
    transition: background-color .5s ease-in;
} 